<a href="https://colab.research.google.com/github/0sparsh2/Live-stocks-scraping/blob/main/stock_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [20]:
stocks_url = 'https://economictimes.indiatimes.com/indices/nifty_50_companies'
stocks_response = requests.get(stocks_url)
stock_soup = BeautifulSoup(stocks_response.text.encode('utf-8'), 'html.parser')

In [41]:
details = stock_soup.find_all('div', {'class': 'dataList'})

In [108]:
#names = [detail.find('a').text for detail in details] 
#names

In [92]:
x = stock_soup.find('div', {'class' : 'headers'})

In [138]:
headings_column = [item.text for item in x.find('ul').find_all('li')]
len(headings_column)

11

In [123]:
all_lists = []
for stock in details:
  lists = stock.find_all('li')
  all_lists.append([item.text for item in lists])

for list_vals in all_lists:
  list_vals[0] = list_vals[0][1:]

In [139]:
nifty50 = pd.DataFrame(all_lists,columns=headings_column)

In [140]:
nifty50

        Company Name       LTP  ... Past 365 Day's Trend 365 Day's % Chg
0           Hindalco    525.80  ...                               100.80
1         Divis Labs   4355.70  ...                                18.40
2               ONGC    170.05  ...                                74.14
3     UltraTech Cem.   7483.10  ...                                21.03
4         Tata Steel   1183.50  ...                                80.43
5          JSW Steel    661.95  ...                                65.36
6                L&T   1954.00  ...                                27.73
7         Sun Pharma    892.50  ...                                41.33
8      Bajaj Finance   7166.70  ...                                30.19
9       Asian Paints   3227.95  ...                                34.40
10      Grasim Inds.   1745.35  ...                                46.85
11         HDFC Bank   1524.55  ...                                -3.45
12           Infosys   1747.00  ...                                36.55
13     Shree Cements  24921.45  ...                                -8.01
14          HCL Tech   1162.05  ...                                21.34
15               ITC    235.45  ...                                 2.39
16    Titan Company    2483.00  ...                                64.05
17     IndusInd Bank    960.50  ...                                -6.94
18               HUL   2302.60  ...                                 2.54
19     Tech Mahindra   1455.35  ...                                50.16
20      Nestle India  18316.00  ...                                 7.27
21       Tata Motors    504.50  ...                                54.68
22         Axis Bank    799.40  ...                                 7.46
23     Bharti Airtel    721.25  ...                                20.09
24    Coal India Ltd    161.15  ...                                12.22
25  Indian Oil Corp.    124.50  ...                                20.17
26              UPL     772.25  ...                                40.91
27   Adani Ports SEZ    731.00  ...                                28.61
28         Britannia   3555.00  ...                                -0.70
29     Bajaj Finserv  16309.95  ...                                68.13
30              BPCL    376.10  ...                               -10.14
31        Dr. Reddys   4359.00  ...                                -6.62
32     Maruti Suzuki   8562.00  ...                                12.07
33               TCS   3808.80  ...                                19.46
34     Tata Consumer    734.20  ...                                24.85
35        Kotak Bank   1897.20  ...                                -0.69
36             Wipro    574.55  ...                                33.65
37        Power Grid    209.90  ...                                36.29
38               RIL   2336.80  ...                                21.44
39        ICICI Bank    803.25  ...                                27.84
40             Cipla    945.85  ...                                13.35
41              NTPC    135.50  ...                                36.80
42              HDFC   2506.50  ...                                -7.43
43          SBI Life   1172.25  ...                                35.69
44               SBI    533.95  ...                                50.37
45        Bajaj Auto   3579.70  ...                               -15.24
46         HDFC Life    626.45  ...                                -7.93
47               M&M    842.90  ...                                -2.72
48     Eicher Motors   2628.20  ...                               -11.31
49     Hero MotoCorp   2725.15  ...                               -20.80

[50 rows x 11 columns]